/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Dec-2015, 11:54:04
    Author     : Gareth
*/

.form-style-7{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
}
h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
ul{
    list-style:none;
    padding:0;
    margin:0;   
}

li {
    display: block;
    padding: 12px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}

li > label:not(.radioLabel){
    display: block;
    float: left;
    margin-top: -24px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #444;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
}

li > span{
    background: #F3F3F3;
    display: block;
    padding: 1px;
    margin: 0 -12px -12px -12px;
    text-align: center;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

input[type="submit"],
input[type="button"]{
    background: #42444e;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #fff;
}
input[type="submit"]:hover,
input[type="button"]:hover{
    opacity: 0.7;
}

.radioLabel {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    margin-top: -12px;
}

/* Get rid of chromes yellow bg on automcomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

