/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Dec-2015, 12:46:12
    Author     : Gareth
*/

body {
    color: #666;
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

th,
td {
    padding: 6px 15px;
}

th {
    background: #42444e;
    color: #fff;
    text-align: left;
}

tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}

td:first-child {
    border-left: 1px solid #c6c9cc;
}

tr:nth-child(even) td {
    background: #eaeaed;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

a.action_button:link, a.action_button:visited {
    display: inline-block;
    padding: 1px 4px;
    border: 0.2px black outset;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 4px;
}

a.action_button:hover {
    border-style: inset;
    background-color: #ccc;
    color: #fff;
}

.img_btn {
    max-height: 40px;
    max-width: 40px;
}

.add_img {
    max-height: 20px;
    max-width: 20px;
    margin-bottom: -4px;
}
